body {

}

.form-container{
  
}

.login-form {
  font: 16px/2em Lato, serif;
  max-width: 400px;
  margin: 100px auto;
}

.text-title{
  font-size: 60px;
  margin-top: 70px;
  font-style: cursive;
}

form[role=login] {
  color: #5d5d5d;
  background: #f2f2f2;
  padding: 26px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
form[role=login] img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

form[role=login] input,
form[role=login] button {
  font-size: 18px;
  margin: 16px 0;
}

form[role=login] > div {
  text-align: center;

}
  
.form-links {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 50px;

}

.form-links a {
  color: #fff;

}



/*attendance.html*/

.btn-attendance{
/*  text-align: center;
  background-color:#f4511e; 
  text-decoration: none;
  display: inline-block;
  text-align: center;
  resize: vertical;*/
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 500px;
  margin-bottom: 100px;
  height: 100px;
  width: 280px;
  font-size: 30px;
/*  border-radius: 8px;
  transition: all 0.2s;
  cursor: pointer;
  color: #FFFFFF;*/
  /*padding: 10px 24px*/
  /*position: static;*/*/

}/*
.btn-attendance span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}
.btn-attendance span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-attendance:hover span {
  padding-right: 25px;
}

.btn-attendance:hover span:after {
  opacity: 1;
  right: 0;
}
*/
/*learnfaces*/
.logo{
  width: 80px;
  height: 70px;
}

.body-info{
  border-style: solid;
  border-width: medium;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding: 10px;
}
.body-info-right{
  border-style: solid;
  border-width: 2px;
  max-width: 80%
  border-color: red;
}

.body-info-left{
  border-style: solid;
  border-width: 2px;
  max-width: 80%
  border-color: blue;
}